<div class="flex flex-col w-full">
    <div class="text-2xl tracking-wide text-idt-purple w-full text-center mt-10 mb-10">Sample Identity Token Chat Room</div>
    <div class="flex w-full">
        <div>
          <img class="inline-block h-9 w-9 rounded-full" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar">
        </div>
    </div>
    @if (CurrentUser != null)
    {
        <div class="flex flex-row">
            <div>@CurrentUser.Username</div>
            <img width="100" height="100" src="https://ipfs.blockfrost.dev/ipfs/@(CurrentUser?.Avatar?.Replace("ipfs://", string.Empty))" alt="avatar"/>
        </div>
    }
    <div class="mx-auto flex flex-col">
        @foreach (var m in Messages)
        {
            <div class="mt-1">@m</div>
        }
    </div>
    <input type="text" @bind-value="CurrentMessage"/>
    <button @onclick="OnBtnSendClicked">Send</button>
</div>
