<section>
    <h3>Create your own Identity</h3>
    <input @bind="TokenMetadata[0].Value" maxlength="64"/>
    <br/>
    <input @bind="TokenMetadata[1].Value" maxlength="64"/>
    <br/>
    <h4>Optional Fields</h4>
    @for (var i = 2; i < 5; i++)
    {
        var j = i;
        <input @bind="TokenMetadata[j].Key" disabled="@true"/>
        <input @bind="TokenMetadata[j].Value" maxlength="64"/>
        <br/>
    }
    @for (var i = 5; i < TokenMetadata.Count; i++)
    {
        var j = i;
        <input @bind="TokenMetadata[j].Key" maxlength="64"/>
        <input @bind="TokenMetadata[j].Value" maxlength="64"/>
        <button @onclick="@(() => OnRemoveMetadataBtnClicked(TokenMetadata[j]))">Remove -</button>
        <br/>
    }
    <button @onclick="OnAddNewMetadataBtnClicked">Add New +</button>
    <br/>
    <h4>@Message</h4>
    <button @onclick="OnMintBtnClicked">Mint</button>
</section>