@if (IsFocused)
{
    <div class="@Class flex border border-idt-purple h-[48px] rounded-full mb-8">
        @if (Icon != null)
        {
            <div class="flex rounded-full justify-center bg-gradient-to-r from-[#7A60C9] to-[#4C4CE8] w-[48px] h-[48px] mt-[-1px] ml-[-1px] mr-4 text-center items-center">
                <img class="h-2/5" src="./_content/IdentityToken.UI.Common/images/@(Icon)" alt=""/>
            </div>
        }
        <input class="text-sm focus:outline-none" 
               placeholder="@Placeholder" 
               @bind="Value"
               @onfocusin="OnFocusIn"
               @onfocusout="OnFocusOut"
               spellcheck="false"
               maxlength="64"/>
    </div>
}
else
{
    <div class="@Class flex border border-idt-gray h-[48px] rounded-full mb-8">
        @if (Icon != null)
         {
             <div class="flex rounded-full justify-center bg-idt-gray-light w-[48px] h-[48px] mt-[-1px] ml-[-1px] mr-4 text-center items-center">
                 <img class="h-2/5" src="./_content/IdentityToken.UI.Common/images/@(Icon)" alt=""/>
             </div>
         }
        <input class="text-sm focus:outline-none" 
               placeholder="@Placeholder"
               @bind="Value"
               @onfocusin="OnFocusIn"
               @onfocusout="OnFocusOut"
               spellcheck="false"
               maxlength="64"/>
    </div>
}