@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime;

<div class="my-component">
    This component is defined in the <strong>IdentityToken.UI.Common</strong> library.
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) {
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}