<div class="display-none">
    <div class="text-idt-indigo"></div>
    <div class="text-idt-gray"></div>
    <div class="bg-idt-indigo"></div>
    <div class="bg-transparent"></div>
    <div class="border-idt-purple"></div>
    <div class="border-idt-gray-light"></div>
    <div class="bg-gradient-to-r from-[#7A60C9] to-[#4C4CE8]"></div>
    <div class="bg-idt-gray-light"></div>
    <div class="pr-5"></div>
    <div class="bg-idt-success"></div>
    <div class="bg-idt-danger"></div>
    <div class="transform -translate-y-48"></div>
    <div class="-bottom-28"></div>
</div>
