<div class="display-none">
    <br class="absolute"/>
    <br class="relative"/>
    <br class="block"/>
    <br class="z-0"></div>
    <br class="bottom-0"/>
    <br class="flex"/>
    <br class="flex-1"/>
    <br class="flex-col"/>
    <br class="flex-grow"/>
    <br class="justify-center"/>
    <br class="items-center"/>
    <br class="container"/>
    <br class="overflow-hidden"/>
    <br class="inline-block"/>
    <br class="bg-gray"/>
    <br class="font-sans"/>
    <br class="font-normal"/>
    <br class="font-medium"/>
    <br class="font-semibold"/>
    <br class="italic"/>
    <br class="min-w-0"/>
    <br class="w-6/12"/>
    <br class="w-7/12"/>
    <br class="w-8/12"/>
    <br class="w-full"/>
    <br class="w-[48px]"/>
    <br class="h-0.5"/>
    <br class="h-2/5"/>
    <br class="h-full"/>
    <br class="h-[48px]"/>
    <br class="h-[173px]"/>
    <br class="px-6"/>
    <br class="py-6"/>
    <br class="pt-8"/>
    <br class="pt-64"/>
    <br class="pb-3"/>
    <br class="pr-10"/>
    <br class="mx-auto"/>
    <br class="mt-3"/>
    <br class="mt-6"/>
    <br class="mt-8"/>
    <br class="mt-10"/>
    <br class="mt-12"/>
    <br class="mt-20"/>
    <br class="mt-[-1px]"/>
    <br class="mb-6"/>
    <br class="mb-8"/>
    <br class="mb-10"/>
    <br class="mb-12"/>
    <br class="ml-[-1px]"/>
    <br class="mr-4"/>
    <br class="text-xs"/>
    <br class="text-sm"/>
    <br class="text-lg"/>
    <br class="text-xl"/>
    <br class="text-2xl"/>
    <br class="text-5xl"/>
    <br class="text-7xl"/>
    <br class="text-8xl"/>
    <br class="text-center"/>
    <br class="text-primary"/>
    <br class="text-secondary"/>
    <br class="text-idt-purple"/>
    <br class="text-idt-indigo"/>
    <br class="text-idt-gray"/>
    <br class="tracking-wide"/>
    <br class="leading-10"/>
    <br class="rounded-md"/>
    <br class="rounded-full"/>
    <br class="bg-center"/>
    <br class="bg-cover"/>
    <br class="bg-transparent"/>
    <br class="bg-white"/>
    <br class="bg-gray-400"/>
    <br class="bg-idt-indigo"/>
    <br class="bg-idt-gray-light"/>
    <br class="bg-gray-lightest"/>
    <br class="bg-gradient-to-r"/>
    <br class="from-[#7A60C9]"/>
    <br class="to-[#4C4CE8]"/>
    <br class="shadow"/>
    <br class="group"/>
    <br class="border"/>
    <br class="border-b-2"/>
    <br class="border-b-idt-gray"/>
    <br class="border-idt-purple"/>
    <br class="border-idt-gray"/>
    <br class="hover:bg-gray-50"/>
    <br class="focus:z-10"/>
    <br class="focus:outline-none"/>
    <br class="focus:border-b-idt-indigo"/>
    <br class="sm:text-sm"/>
</div>
