@page "/"
@using IdentityToken.UI.Common
@namespace IdentityToken.UI.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>IdentityToken by ADAPH</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/_content/IdentityToken.UI.Common/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_content/IdentityToken.UI.Common/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_content/IdentityToken.UI.Common/favicon/favicon-16x16.png">
    <link rel="manifest" href="/_content/IdentityToken.UI.Common/favicon/site.webmanifest">
    <base href="~/"/>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>
<script src="_framework/blazor.server.js"></script>
</body>
</html>