@inherits LayoutComponentBase

@if(IsLoading)
{
    <div style="position:fixed; left: -5px; top: -5px; width: calc(100vw + 5px); height: calc(100vh + 5px); display: flex; justify-content: center; align-items: center; background-color: #CFD1DC; flex-direction: column;">
        <img style="width: 10rem; height:  10rem;" src="/_content/IdentityToken.UI.Common/images/adaph_logo_dark.svg" alt=""/>
        <div style="font-family: 'Arial',serif; font-size: 19pt;">Loading, Please Wait...</div>
    </div>
}
else
{
    @Body
}