@inherits LayoutComponentBase

@if(IsLoading)
{
    <div style="position:fixed; left: -5px; top: -5px; width: calc(100vw + 5px); height: calc(100vh + 5px); background-color: #CFD1DC;">
        <img style="position: fixed; left: calc(50% - 75px); top: calc(50vh - 75px); width: 150px; height:  150px;" src="/_content/IdentityToken.UI.Common/images/adaph_logo_dark.svg" alt=""/>
        <div style="line-height: 1.5; position: fixed; width: 100%; text-align: center; top: calc(50vh + 100px); font-family: 'Arial',serif; font-size: 19pt;">Loading, Please Wait...</div>
    </div>
}
else
{
    @Body
}